<div class="row">
    <div class="col"><h3>Einzelfall Datenblatt / Fallnummer: ###LID### ###LOCKED###</h3></div>
    ###ADMMS###
</div>
<div class="row single_header_row">    
    <div class="col-sm">
        <div class="row">
            <div class="col-sm">Nachname</div><div class="col-sm">###STR_BNACHNAME###</div>
        </div>
        <div class="row">
            <div class="col-sm">Vorname</div><div class="col-sm">###STR_BVORNAME###</div>
        </div>
    </div>
    <div class="col-sm">
        <div class="row">
            <div class="col-sm">Geburtsdatum</div><div class="col-sm">###DT_BGEBURTSDATUM###</div>
        </div>
        <div class="row">
            <div class="col-sm">Geschlecht</div><div class="col-sm">###STR_BGESCHLECHT###</div>
        </div>
    </div>
</div>