<div class="row">
    <div class="col">Einzelfall nicht gefunden, bitte überprüfen sie die Fallnummer</div>
    <div class="col">
        <div class="input-group mb-3 page_jump">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">Direktaufruf Einzelfall: </span>
            </div>
            <input type="text" id="goToCase" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" width="10">
            <div class="input-group-append">
              <button type="button" class="btn btn-secondary" onclick="jumpToCase()">Absenden</button>
            </div>
        </div>
    </div>
</div>