###head###
<div class="row">
    <div class="col">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="base-tab" data-toggle="tab" href="#base" role="tab" aria-controls="Basisdaten" aria-selected="true">Basisdaten</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="Kontakte" aria-selected="true">Kontakte</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="actions-tab" data-toggle="tab" href="#health" role="tab" aria-controls="Gesundheit" aria-selected="false">Gesundheitsinformationen</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="actions-tab" data-toggle="tab" href="#actions" role="tab" aria-controls="Maßnahmen" aria-selected="false">Maßnahmen</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="notes-tab" data-toggle="tab" href="#notes" role="tab" aria-controls="Notizen" aria-selected="false">Notizen</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="docs-tab" data-toggle="tab" href="#docs" role="tab" aria-controls="Dokumentation" aria-selected="false">Dokumentation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="melder-tab" data-toggle="tab" href="#melder" role="tab" aria-controls="Meldung" aria-selected="false">Meldung</a>
          </li>          
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="base" role="tabpanel" aria-labelledby="base-tab">
                ###base_tab###
            </div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                ###contact_tab###
            </div>
            <div class="tab-pane fade" id="health" role="tabpanel" aria-labelledby="health-tab">
                ###health_tab###
            </div>
            <div class="tab-pane fade" id="actions" role="tabpanel" aria-labelledby="actions-tab">
                ###actions_tab###
            </div>
            <div class="tab-pane fade" id="notes" role="tabpanel" aria-labelledby="notes-tab">
                ###notes_tab###
            </div>
            <div class="tab-pane fade" id="docs" role="tabpanel" aria-labelledby="docs-tab">
                ###docs_tab###
            </div>
            <div class="tab-pane fade" id="melder" role="tabpanel" aria-labelledby="melder-tab">
                <div class="col">
                    <div class="row">
                        <div class="col-6">                        
                            <b>Melder</b><br />
                            ###STR_MVORNAME### ###STR_MNACHNAME###<br />
                            Email: <a href="mailto:###STR_MEMAIL###">###STR_MEMAIL###</a><br />
                            Telefon: ###STR_MTELEFON###<br />
                            Meldegrund:
                            <select class="form-control preval_select" id="STR_MGRUND" name="STR_MGRUND" data-preval="###STR_MGRUND###">
                                <option></option>
                                <option value="KP-Liste">KP-Liste</option>
                                <option value="E-Mail / Post">E-Mail / Post</option>
                                <option value="Befund-Eingang">Befund-Eingang</option>
                                <option value="Meldung anderes GA">Meldung anderes GA</option>
                                <option value="IfSG-Meldung">IfSG-Meldung</option>
                                <option value="Sonstiges">Sonstiges</option>
                            </select>
                            Meldegrund Notiz: <br />
                            <textarea class="form-control" name="TXT_MGRUND" rows="3">###TXT_MGRUND###</textarea>   
                            <br />
                            Meldung aufgrund Corona App: ###B_COVIDAPP###
                        </div>
                        <div class="col-6">
                            <b>Erfassung durch</b><br />
                            ###STR_BERATERNAME###<br />
                            ###DT_BERATUNGDATUM###<br />
                            <br />
                            FormSolutions TransaktionsID: ###STR_TRANSID###                            
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col">
                            <a type="button" target="_blank" class="btn btn-success" href="?type=add&copyid=###LID###">Fall kopieren</a>
                        </div>
                    </div>                    
                </div>
            </div>          
        </div>
    </div>
</div>
###foot###