<tr>
    <td><input name="line[###COUNTER###][STR_BNACHNAME]" class="form-control form-control-sm" style="float:left;width: 85%" type="text" value="###NACHNAME###" />&nbsp;,<br />
        <input name="line[###COUNTER###][STR_BVORNAME]" class="form-control form-control-sm" type="text" value="###VORNAME###" /></td>
    <td><input name="line[###COUNTER###][STR_BGESCHLECHT]" class="form-control form-control-sm" type="text" value="###GESCHLECHT###" /></td>
    <td><input name="line[###COUNTER###][DT_BGEBURTSDATUM]" class="form-control form-control-sm" type="text" value="###GEBDATUM###" /></td>
    <td><input name="line[###COUNTER###][STR_KONTAKTORTINFO]" class="form-control form-control-sm" type="text" value="###NAMEEINR###" /></td>
    <td><input name="line[###COUNTER###][STR_BSTRASSE]" class="form-control form-control-sm" style="float:left;width: 120px" type="text" value="###STRASSE###" />
        <input name="line[###COUNTER###][STR_BHAUSNUMMER]" class="form-control form-control-sm" style="float:left;width: 35px;margin-left: 4px;" type="text" value="###HNR###" /><br />
        <input name="line[###COUNTER###][STR_BPLZ]" class="form-control form-control-sm" style="float:left;width: 65px;" type="text" value="###PLZ###" />
        <input name="line[###COUNTER###][STR_BORT]" class="form-control form-control-sm" style="float:left;width: 90px;margin-left: 4px;" type="text" value="###ORT###" /></td>
    <td><input name="line[###COUNTER###][STR_BTELEFON]" class="form-control form-control-sm" type="text" value="###MOBIL###" /></td>
    <td><input name="line[###COUNTER###][DT_KONTAKTLETZTER]" class="form-control form-control-sm" type="text" value="###LKONTAKT###" /></td>
    <td><input name="line[###COUNTER###][STR_BEB1NACHNAME]" class="form-control form-control-sm" style="float:left;width: 90%" type="text" value="###EB1NN###" />&nbsp;,<br />
        <input name="line[###COUNTER###][STR_BEB1VORNAME]" class="form-control form-control-sm" type="text" value="###EB1VN###" /></td>
    <td><input name="line[###COUNTER###][STR_BEB2NACHNAME]" class="form-control form-control-sm" style="float:left;width: 90%" type="text" value="###EB2NN###" />&nbsp;,<br />
        <input name="line[###COUNTER###][STR_BEB2VORNAME]" class="form-control form-control-sm" type="text" value="###EB2VN###" /></td>
    <td><textarea class="form-control" name="line[###COUNTER###][TXT_KONTAKTINFO]" rows="3">###TXT_KONTAKTINFO###</textarea></td>
</tr>