<h4>Datenimport</h4>
<div class="row">
    <div class="col">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="importMs-tab" data-toggle="importMs" href="#importMs" role="tab" aria-controls="" aria-selected="true">Meldungen importieren</a>
          </li>
          <!--<li class="nav-item">
            <a class="nav-link" id="next-tab" data-toggle="tab" href="#next" role="tab" aria-controls="nächste Woche" aria-selected="false">KW ###NEXTWEEK###</a>
          </li> -->
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="importMs" role="tabpanel" aria-labelledby="importMs-tab">
                ###importMs_tab###
            </div>
            <!--<div class="tab-pane fade" id="next" role="tabpanel" aria-labelledby="next-tab">
                ###next_tab###
            </div>-->
        </div>
    </div>
</div>