<div class="row">
    <div class="col">
        <h4>Auslaufende Quarantänen der nächsten ###DAYS### Tage</h4>
    </div>
</div>
<hr />
<div class="row">
    <div class="col">
        <table class="table table-hover table-sm">
          <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Quarantäne-Typ</th>
                <th scope="col">Falltyp/Kategorie</th>
                <th scope="col">Nachname</th>
                <th scope="col">Vorname</th>
                <th scope="col">Telefon</th>
                <th scope="col">ab</th>
                <th scope="col">bis einschl.</th>
            </tr>
          </thead>
          <tbody>            
              ###ROWS###
          </tbody>
        </table>
    </div>
</div>