<table class="table table-hover table-sm">
  <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Erfassung</th>
        <th scope="col">Falltyp</th>
        <th scope="col">Nachname</th>
        <th scope="col">Vorname</th>
        <th scope="col">Geburtsdatum</th>
        <th scope="col">Straße</th>
        <th scope="col">PLZ</th>
        <th scope="col">Ort</th>
        <th scope="col">Telefon</th>
        <th scope="col">krit. Infrastruktur</th>
        <th scope="col">Bemerkung</th>
        <th scope="col">l. Bearb.</th>
    </tr>
  </thead>
  <tbody>
      ###ROWS###
  </tbody>
</table>
###PAGINATION###