<tr data-id="###lid###" class="###gesperrt###">
    <td class="clickable" style="font-weight: bold">###lid###</td>
    <td class="clickable">###beratung_datum###</td>
    <td class="clickable">###str_falltyp###</td>    
    <td class="clickable">###b_nachname###</td>
    <td class="clickable">###b_vorname###</td>
    <td class="clickable">###b_geburtsdatum###</td>
    <td class="clickable">###b_strasse### ###b_hausnummer###</td>
    <td class="clickable">###b_plz###</td>
    <td class="clickable">###b_ort###</td>
    <td class="clickable">###b_telefon###</td>
    <td class="clickable">###crit_infra###</td>
    <td class="clickable" title="###notiz###">###short_notiz###</td>
    <td class="clickable">###dtedit###</td>
</tr>