<div class="row">
    <div class="col">
        <h4>CovDi Nutzer</h4>
    </div>
</div>
<hr />
<div class="row">
    <div class="col">
        <table class="table table-hover table-sm">
          <thead class="thead-dark">
            <tr>
                <th scope="col">Nachname</th>
                <th scope="col">Vorname</th>                
                <th scope="col">Email</th>                
                <th scope="col">Basis-Rechte</th>                
                <th scope="col">Zusatz-Rechte</th>
            </tr>
          </thead>
          <tbody>            
              ###ROWS###
          </tbody>
        </table>
    </div>
</div>