<div class="col">
    <div class="row">
        <div class="col-6">
            <div class="row">                                
                <div class="col-6">Falltyp/Kategorie:</div>
                <div class="col-6">###STR_STATUSFALLTYP###</div>                                
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-6">Aufklärung über Hygienemaßnahmen:</div>
                <div class="col-6">###B_HYGIENEAUFKL###</div>                                
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <b>Notizen:</b><br />
            ###TXT_NOTIZEN###
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-6 info_box">
            <b>Abstrich 1</b><br />
            <div class="row">
                <div class="col-6">erfolgt:</div>
                <div class="col-6">###B_ABSTRICH1###</div>                                
            </div>
            <div class="row">
                <div class="col-6">Datum:</div>
                <div class="col-6">###DT_ABSTRICH1DATUM###</div>                                
            </div>
            <div class="row">
                <div class="col-6">veranlasst durch:</div>
                <div class="col-6">###STR_ABSTRICH1ANORDNDURCH###</div>                                
            </div>
            <div class="row">
                <div class="col-6">Abstrich Typ:</div>
                <div class="col-6">###STR_ABSTRICH1TYP###</div>                                
            </div>
            <div class="row">
                <div class="col-6">erfolgt durch Diagnostikzentrum:</div>
                <div class="col-6">###B_ABSTRICH1DZ###</div>                                
            </div>
            <div class="row">
                <div class="col-6">Rückmeldung:</div>
                <div class="col-6">###STR_ABSTRICH1RUECK###</div>                                
            </div>
            <div class="row">
                <div class="col-6">Rückmeldung am:</div>
                <div class="col-6">###DT_ABSTRICH1RUECKDATUM###</div>                                
            </div>
        </div>
        <div class="col-6 info_box2">
            <b>Abstrich 2</b><br />
            <div class="row">
                <div class="col-6">erfolgt:</div>
                <div class="col-6">###B_ABSTRICH2###</div>                                
            </div>
            <div class="row">
                <div class="col-6">Datum:</div>
                <div class="col-6">###DT_ABSTRICH2DATUM###</div>                                
            </div>
            <div class="row">
                <div class="col-6">veranlasst durch:</div>
                <div class="col-6">###STR_ABSTRICH2ANORDNDURCH###</div>                                
            </div>
            <div class="row">
                <div class="col-6">Abstrich Typ:</div>
                <div class="col-6">###STR_ABSTRICH2TYP###</div>                                
            </div>
            <div class="row">
                <div class="col-6">erfolgt durch Diagnostikzentrum:</div>
                <div class="col-6">###B_ABSTRICH2DZ###</div>                                
            </div>
            <div class="row">
                <div class="col-6">Rückmeldung:</div>
                <div class="col-6">###STR_ABSTRICH2RUECK###</div>                                
            </div>
            <div class="row">
                <div class="col-6">Rückmeldung am:</div>
                <div class="col-6">###DT_ABSTRICH2RUECKDATUM###</div>                                
            </div>
        </div>
        <div class="col-6 info_box2">
            <b>Quarantäneinformationen</b><br />
            <div class="row">
                <div class="col-6">Quarantäne erforderlich:</div>
                <div class="col-6">###B_QUARANTAENE###</div>
            </div>
            <div class="row">
                <div class="col-6">ausgesprochen am:</div>
                <div class="col-6">###DT_QUARANTAENEAAM###</div>
            </div>
            <div class="row">
                <div class="col-6">Angeordnet durch:</div>
                <div class="col-6">###STR_QUARANTAENEADURCH###</div>
            </div>
            <div class="row">
                <div class="col-6">Angeordnet von:</div>
                <div class="col-6">###DT_QUARANTAENEVON###</div>
            </div>
            <div class="row">
                <div class="col-6">Angeordnet bis:</div>
                <div class="col-6">###DT_QUARANTAENEBIS###</div>
            </div>
            <div class="row">
                <div class="col-6">Notizen zur Quarantäne:</div>
                <div class="col-6">###TXT_QUARANTAENEINFO###</div>
            </div>
        </div>     
        <div class="col-6 info_box">
            <b>mündliche Quarantäneverlängerung</b><br />
            <div class="row">
                <div class="col-6">1. am:</div>
                <div class="col-6">###DT_QUARANTAENEMVERL1###</div>
            </div>
            <div class="row">
                <div class="col-6">Begründung:</div>
                <div class="col-6">###STR_QUARANTAENEMVERL1INFO###</div>
            </div>
            <div class="row">
                <div class="col-6">verlängert bis:</div>
                <div class="col-6">###DT_QUARANTAENEMVERL1BIS###</div>
            </div>
            <div class="row">
                <div class="col-6">2. am:</div>
                <div class="col-6">###DT_QUARANTAENEMVERL2###</div>
            </div>
            <div class="row">
                <div class="col-6">Begründung:</div>
                <div class="col-6">###STR_QUARANTAENEMVERL2INFO###</div>
            </div>
            <div class="row">
                <div class="col-6">verlängert bis:</div>
                <div class="col-6">###DT_QUARANTAENEMVERL2BIS###</div>
            </div>
        </div>   
        <div class="col-6  info_box">
            <b>OV Anordnung</b><br />
            <div class="row">
                <div class="col-6">Abgabe OV Verordnung an 53-0:</div>
                <div class="col-6">###STR_OVABGABE###</div>
            </div>
            <div class="row">
                <div class="col-6">am:</div>
                <div class="col-6">###DT_OVABGABEAM###</div>
            </div>
            <div class="row">
                <div class="col-6">Name:</div>
                <div class="col-6">###STR_OVABGABENAME###</div>
            </div>
            <div class="row">
                <div class="col-6">Abgabe Verlängerung OV Verordnung an 53-0:</div>
                <div class="col-6">###STR_OVABGABEVERL###</div>
            </div>
            <div class="row">
                <div class="col-6">am:</div>
                <div class="col-6">###DT_OVABGABEVERLAM###</div>
            </div>
            <div class="row">
                <div class="col-6">Name:</div>
                <div class="col-6">###STR_OVABGABEVERLNAME###</div>
            </div>
            <div class="row">
                <div class="col-6">Eingabe in Survnet:</div>
                <div class="col-6">###STR_SURVNETEINGABE###</div>
            </div>
        </div>   
        <div class="col-6 info_box2">
            <b>Verlauf</b><br />
            <div class="row">
                <div class="col-6">als Gesund befunden:</div>
                <div class="col-6">###B_VERLAUFGESUND###</div>
            </div>
            <div class="row">
                <div class="col-6">am:</div>
                <div class="col-6">###DT_VERLAUFGESUNDAM###</div>
            </div>
            <div class="row">                                
            </div>
            <div class="row">
                <div class="col-6">verstorben:</div>
                <div class="col-6">###B_VERLAUFVERSTORBEN###</div>
            </div>
            <div class="row">
                <div class="col-6">verstorben am:</div>
                <div class="col-6">###DT_VERLAUFVERSTORBENAM###</div>
            </div>
        </div>                            
    </div>
</div>