<div class="col">
    <div class="row">            
        <div class="col-6 info_box2">
            <b>Angaben als Kontaktperson</b><br />            
            <div class="row">
                <div class="col-4">Beobachtungszustand:</div>
                <div class="col">
                    <select class="form-control preval_select" id="STR_KONTAKTPERHBEOB" name="STR_KONTAKTPERHBEOB" data-preval="###STR_KONTAKTPERHBEOB###">
                        <option></option>
                        <option value="erkrankt">erkrankt</option>
                        <option value="nicht erkrankt">nicht erkrankt</option>
                        <option value="nicht ermittelbar">nicht ermittelbar</option>                        
                    </select>
                </div>
            </div>
        </div>
        <div class="col-6 info_box">
            <b>Angaben zur Erkrankung</b><br />
            <div class="row">
                <div class="col">Covid-19-Symptome:</div>
                <div class="col-1"> 
                    <input class="form-check-input" type="checkbox" id="B_SYMVORHANDEN" name="B_SYMVORHANDEN" data-preval="###B_SYMVORHANDEN###" ###B_SYMVORHANDEN_checked###/> 
                </div>
            </div>
            <div class="row">
                <div class="col-8">Beginn der Symptome:</div>
                <div class="col">
                    <input type="text" class="form-control datepicker" name="DT_SYMSTART" value="###DT_SYMSTART###"/>
                </div>
            </div>            
            <div class="row">
                <div class="col">Zugehörigkeit zu einer Risikogruppe:</div>
                <div class="col-1">
                    <input class="form-check-input" type="checkbox" id="B_RISIKOGRUPPE" name="B_RISIKOGRUPPE" data-preval="###B_RISIKOGRUPPE###" ###B_RISIKOGRUPPE_checked###/> 
                </div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-3">Risikogruppe</div>
                <div class="col">
                    <input type="text" class="form-control" name="STR_RISIKOGRUPPEART" value="###STR_RISIKOGRUPPEART###"/>
                </div>
            </div>
            <div class="row">
                <div class="col">Diagnose Viruslungenentzündung und Arbeit in Kontakt mit Covid-19:</div>
                <div class="col-1">
                    <input class="form-check-input" type="checkbox" id="B_VIRUSL" name="B_VIRUSL" data-preval="###B_VIRUSL###" ###B_VIRUSL_checked###/> 
                </div>
            </div>                            
        </div>
        <div class="col-6 info_box">
            <b>Allgemeine Angaben zur Gesundheit</b><br />
            <div class="row">
                <div class="col">Grunderkrankung vorhanden:</div>
                <div class="col-1">
                    <input class="form-check-input" type="checkbox" id="B_GRUNDERKRANKUNG" name="B_GRUNDERKRANKUNG" data-preval="###B_GRUNDERKRANKUNG###" ###B_GRUNDERKRANKUNG_checked###/> 
                </div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-3">Art der Erkrankung</div>
                <div class="col">
                    <textarea class="form-control" name="TXT_GRUNDERKRANKUNGINFO" rows="3">###TXT_GRUNDERKRANKUNGINFO###</textarea>
                </div>
            </div>
            <div class="row">
                <div class="col">Besondere Komplikationen aufgetreten:</div>
                <div class="col-1">
                    <input class="form-check-input" type="checkbox" id="B_KOMPLIKATIONEN" name="B_KOMPLIKATIONEN" data-preval="###B_KOMPLIKATIONEN###" ###B_KOMPLIKATIONEN_checked###/> 
                </div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-3">Komplikationen:</div>
                <div class="col">
                    <textarea class="form-control" name="TXT_KOMPLIKATIONENINFO" rows="3">###TXT_KOMPLIKATIONENINFO###</textarea>
                </div>
            </div>            
            <div class="row">
                <div class="col">Schwangerschaft:</div>
                <div class="col-1">
                    <input class="form-check-input" type="checkbox" id="B_SCHWANGERSCHAFT" name="B_SCHWANGERSCHAFT" data-preval="###B_SCHWANGERSCHAFT###" ###B_SCHWANGERSCHAFT_checked###/> 
                </div>
            </div>                                      
        </div>
        <div class="col-6 info_box2">
            <b>Symptome</b> (FS: Über Online Formular abgefragt)<br />
            <i>allgemeine respiratorische Symptome</i><br />
            <div class="row">
                <div class="col">Husten (FS):</div>
                <div class="col-1">
                    <input class="form-check-input" type="checkbox" id="B_SYMHUSTEN" name="B_SYMHUSTEN" data-preval="###B_SYMHUSTEN###" ###B_SYMHUSTEN_checked###/> 
                </div>
            </div>
            <div class="row">
                <div class="col">Schnupfen (FS):</div>
                <div class="col-1">
                    <input class="form-check-input" type="checkbox" id="B_SYMSCHNUPFEN" name="B_SYMSCHNUPFEN" data-preval="###B_SYMSCHNUPFEN###" ###B_SYMSCHNUPFEN_checked###/> 
                </div>
            </div>
            <div class="row">
                <div class="col">Halsschmerzen (FS):</div>
                <div class="col-1">
                    <input class="form-check-input" type="checkbox" id="B_SYMHALSSCHMERZEN" name="B_SYMHALSSCHMERZEN" data-preval="###B_SYMHALSSCHMERZEN###" ###B_SYMHALSSCHMERZEN_checked###/> 
                </div>
            </div>
            <div class="row">
                <div class="col">Pneumonie (Lungenentzündung):</div>
                <div class="col-1">
                    <input class="form-check-input" type="checkbox" id="B_SYMPNEUMONIE" name="B_SYMPNEUMONIE" data-preval="###B_SYMPNEUMONIE###" ###B_SYMPNEUMONIE_checked###/> 
                </div>
            </div>
            <i>Krankheitsschwere</i><br />
            <div class="row">
                <div class="col">akutes schweres Atemnotsyndrom (ARDS):</div>
                <div class="col-1">
                    <input class="form-check-input" type="checkbox" id="B_SYMARDS" name="B_SYMARDS" data-preval="###B_SYMARDS###" ###B_SYMARDS_checked###/> 
                </div>
            </div>
            <div class="row">
                <div class="col">beatmungspflichtige Atemwegserkrankung:</div>
                <div class="col-1">
                    <input class="form-check-input" type="checkbox" id="B_SYMBEATMERKRANKUNG" name="B_SYMBEATMERKRANKUNG" data-preval="###B_SYMBEATMERKRANKUNG###" ###B_SYMBEATMERKRANKUNG_checked###/> 
                </div>
            </div>
            <div class="row">
                <div class="col">Dyspnoe (Atemstörung):</div>
                <div class="col-1">
                    <input class="form-check-input" type="checkbox" id="B_SYMDYSPNOE" name="B_SYMDYSPNOE" data-preval="###B_SYMDYSPNOE###" ###B_SYMDYSPNOE_checked###/> 
                </div>
            </div>
            <div class="row">
                <div class="col">Fieber (FS):</div>
                <div class="col-7">
                    <input type="text" class="form-control" name="STR_SYMFIEBERWERT" value="###STR_SYMFIEBERWERT###"/>
                </div>
                <div class="col-1">
                    <input class="form-check-input" type="checkbox" id="B_SYMFIEBER" name="B_SYMFIEBER" data-preval="###B_SYMFIEBER###" ###B_SYMFIEBER_checked###/> 
                </div>                
            </div>
            <i>sonstige Symptome</i><br />            
            <div class="row">
                <div class="col">Abgeschlagenheit (FS):</div>
                <div class="col-1">
                    <input class="form-check-input" type="checkbox" id="B_SYMABGESCHLAGEN" name="B_SYMABGESCHLAGEN" data-preval="###B_SYMABGESCHLAGEN###" ###B_SYMABGESCHLAGEN_checked###/> 
                </div>
            </div>            
            <div class="row">
                <div class="col">Durchfall (FS):</div>
                <div class="col-1">
                    <input class="form-check-input" type="checkbox" id="B_SYMDURCHFALL" name="B_SYMDURCHFALL" data-preval="###B_SYMDURCHFALL###" ###B_SYMDURCHFALL_checked###/> 
                </div>
            </div>
            <div class="row">
                <div class="col">Luftnot (FS):</div>
                <div class="col-1">
                    <input class="form-check-input" type="checkbox" id="B_SYMLUFTNOT" name="B_SYMLUFTNOT" data-preval="###B_SYMLUFTNOT###" ###B_SYMLUFTNOT_checked###/> 
                </div>
            </div>
            <div class="row">
                <div class="col">Abnehmender Geruchs-/Geschmackssinn (FS):</div>
                <div class="col-1">
                    <input class="form-check-input" type="checkbox" id="B_SYMGERUCH" name="B_SYMGERUCH" data-preval="###B_SYMGERUCH###" ###B_SYMGERUCH_checked###/> 
                </div>
            </div>
            <div class="row">
                <div class="col">Geruchsverlust:</div>
                <div class="col-1">
                    <input class="form-check-input" type="checkbox" id="B_SYMGERUCHD" name="B_SYMGERUCHD" data-preval="###B_SYMGERUCHD###" ###B_SYMGERUCHD_checked###/> 
                </div>
            </div>
            <div class="row">
                <div class="col">Geschmacksverlust:</div>
                <div class="col-1">
                    <input class="form-check-input" type="checkbox" id="B_SYMGESCHMACKD" name="B_SYMGESCHMACKD" data-preval="###B_SYMGESCHMACKD###" ###B_SYMGESCHMACKD_checked###/> 
                </div>
            </div>
            <div class="row">
                <div class="col">Kopfschmerzen (FS):</div>
                <div class="col-1">
                    <input class="form-check-input" type="checkbox" id="B_SYMKOPFSCHMERZEN" name="B_SYMKOPFSCHMERZEN" data-preval="###B_SYMKOPFSCHMERZEN###" ###B_SYMKOPFSCHMERZEN_checked###/> 
                </div>
            </div>
            <div class="row">
                <div class="col">Gliederschmerzen (FS):</div>
                <div class="col-1">
                    <input class="form-check-input" type="checkbox" id="B_SYMGLIEDERSCHMERZEN" name="B_SYMGLIEDERSCHMERZEN" data-preval="###B_SYMGLIEDERSCHMERZEN###" ###B_SYMGLIEDERSCHMERZEN_checked###/> 
                </div>
            </div>
            <div class="row">
                <div class="col">Tachykardie (Herzrhythmusstörung mit Anstieg der Herzfrequenz):</div>
                <div class="col-1">
                    <input class="form-check-input" type="checkbox" id="B_SYMTACHYKARDIE" name="B_SYMTACHYKARDIE" data-preval="###B_SYMTACHYKARDIE###" ###B_SYMTACHYKARDIE_checked###/> 
                </div>
            </div>  
            <div class="row">
                <div class="col">Tachypnoe (beschleunigte Atmung):</div>
                <div class="col-1">
                    <input class="form-check-input" type="checkbox" id="B_SYMTACHYPNOE" name="B_SYMTACHYPNOE" data-preval="###B_SYMTACHYPNOE###" ###B_SYMTACHYPNOE_checked###/> 
                </div>
            </div>  
            <div class="row">
                <div class="col">allgemeine Krankheitszeichen:</div>
                <div class="col-1">
                    <input class="form-check-input" type="checkbox" id="B_SYMALLGEMEIN" name="B_SYMALLGEMEIN" data-preval="###B_SYMALLGEMEIN###" ###B_SYMALLGEMEIN_checked###/> 
                </div>
            </div>  
            <div class="row">
                <div class="col-4">Sonstige Symptome (FS):</div>
                <div class="col">
                    <textarea class="form-control" name="TXT_SYMINFO" rows="3">###TXT_SYMINFO###</textarea>
                </div>
            </div>
        </div>   
        <div class="col-6 info_box2">
            <b>Stationäre Aufnahme</b><br />
            <div class="row">
                <div class="col">Stationär aufgenommen:</div>
                <div class="col-1">
                    <input class="form-check-input" type="checkbox" id="B_STATIONAER" name="B_STATIONAER" data-preval="###B_STATIONAER###" ###B_STATIONAER_checked###/>
                </div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-3">Am</div>
                <div class="col">
                    <input type="text" class="form-control datepicker" name="DT_STATIONAERSTART" value="###DT_STATIONAERSTART###"/>
                </div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-3">Krankenhaus</div>
                <div class="col">
                    <input type="text" class="form-control" name="STR_STATIONAERKRANKENHAUS" value="###STR_STATIONAERKRANKENHAUS###"/>                
                </div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-3">Infos</div>
                <div class="col">
                    <input type="text" class="form-control" name="TXT_STATIONAERINFO" value="###TXT_STATIONAERINFO###"/>
                </div>
            </div>                       
        </div>
        <div class="col-6 info_box">
            <b>Risikofaktoren</b><br />
            <div class="row">
                <div class="col">Herz-Kreislauf-Erkrankung (inkl. Bluthochdruck):</div>
                <div class="col-1">
                    <input class="form-check-input" type="checkbox" id="B_RISHERZKREISLAUF" name="B_RISHERZKREISLAUF" data-preval="###B_RISHERZKREISLAUF###" ###B_RISHERZKREISLAUF_checked###/>
                </div>
            </div>
            <div class="row">
                <div class="col">Diabetes:</div>
                <div class="col-1">
                    <input class="form-check-input" type="checkbox" id="B_RISDIABETES" name="B_RISDIABETES" data-preval="###B_RISDIABETES###" ###B_RISDIABETES_checked###/>
                </div>
            </div>   
            <div class="row">
                <div class="col">Lebererkrankung:</div>
                <div class="col-1">
                    <input class="form-check-input" type="checkbox" id="B_RISLEBER" name="B_RISLEBER" data-preval="###B_RISLEBER###" ###B_RISLEBER_checked###/>
                </div>
            </div>   
            <div class="row">
                <div class="col">neurologische/neuromuskuläre Erkrankung:</div>
                <div class="col-1">
                    <input class="form-check-input" type="checkbox" id="B_RISNEURO" name="B_RISNEURO" data-preval="###B_RISNEURO###" ###B_RISNEURO_checked###/>
                </div>
            </div>   
            <div class="row">
                <div class="col">Immundefizienz, inkl. HIV:</div>
                <div class="col-1">
                    <input class="form-check-input" type="checkbox" id="B_RISIMMUN" name="B_RISIMMUN" data-preval="###B_RISIMMUN###" ###B_RISIMMUN_checked###/>
                </div>
            </div>  
            <div class="row">
                <div class="col">Nierenerkrankung:</div>
                <div class="col-1">
                    <input class="form-check-input" type="checkbox" id="B_RISNIERE" name="B_RISNIERE" data-preval="###B_RISNIERE###" ###B_RISNIERE_checked###/>
                </div>
            </div>  
            <div class="row">
                <div class="col">Chronische Lungenerkrankung (z.B. COPD):</div>
                <div class="col-1">
                    <input class="form-check-input" type="checkbox" id="B_RISLUNGE" name="B_RISLUNGE" data-preval="###B_RISLUNGE###" ###B_RISLUNGE_checked###/>
                </div>
            </div> 
            <div class="row">
                <div class="col">Krebserkrankung:</div>
                <div class="col-1">
                    <input class="form-check-input" type="checkbox" id="B_RISKREBS" name="B_RISKREBS" data-preval="###B_RISKREBS###" ###B_RISKREBS_checked###/>
                </div>
            </div> 
            <div class="row">
                <div class="col">Schwangerschaft:</div>
                <div class="col-7">
                    <select class="form-control preval_select" id="STR_RISSCHWANGERTRIMESTER" name="STR_RISSCHWANGERTRIMESTER" data-preval="###STR_RISSCHWANGERTRIMESTER###">
                        <option></option>
                        <option value="1.Trimester">1.Trimester</option>
                        <option value="2.Trimester">2.Trimester</option>
                        <option value="3.Trimester">3.Trimester</option>                        
                    </select>
                </div>
                <div class="col-1">
                    <input class="form-check-input" type="checkbox" id="B_RISSCHWANGER" name="B_RISSCHWANGER" data-preval="###B_RISSCHWANGER###" ###B_RISSCHWANGER_checked###/>
                </div>
            </div> 
            <div class="row">
                <div class="col">Postpartum/ Wochenbett (weniger als 6 Wochen):</div>
                <div class="col-1">
                    <input class="form-check-input" type="checkbox" id="B_RISPOSTPARTUM" name="B_RISPOSTPARTUM" data-preval="###B_RISPOSTPARTUM###" ###B_RISPOSTPARTUM_checked###/>
                </div>
            </div> 
        </div>
    </div>
</div>