<div class="col">
    <div class="row">  
        <div class="col-6 info_box2">
            <b>Angaben als Kontaktperson</b><br />
            <div class="row">
                <div class="col-4">Beobachtungszustand:</div>
                <div class="col">
                    ###STR_KONTAKTPERHBEOB###
                </div>
            </div>
        </div>
        <div class="col-6 info_box">
            <b>Angaben zur Erkrankung</b><br />
            <div class="row">
                <div class="col">Covid-19-Symptome:</div>
                <div class="col-1"> 
                    ###B_SYMVORHANDEN###
                </div>
            </div>
            <div class="row">
                <div class="col-8">Beginn der Symptome:</div>
                <div class="col">
                    ###DT_SYMSTART###
                </div>
            </div>            
            <div class="row">
                <div class="col">Zugehörigkeit zu einer Risikogruppe:</div>
                <div class="col-1">
                    ###B_RISIKOGRUPPE###
                </div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-3">Risikogruppe</div>
                <div class="col">
                    ###STR_RISIKOGRUPPEART###
                </div>
            </div>
            <div class="row">
                <div class="col">Diagnose Viruslungenentzündung und Arbeit in Kontakt mit Covid-19:</div>
                <div class="col-1">
                    ###B_VIRUSL###
                </div>
            </div>                            
        </div>
        <div class="col-6 info_box">
            <b>Allgemeine Angaben zur Gesundheit</b><br />
            <div class="row">
                <div class="col">Grunderkrankung vorhanden:</div>
                <div class="col-1">
                    ###B_GRUNDERKRANKUNG###
                </div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-3">Art der Erkrankung</div>
                <div class="col">
                    ###TXT_GRUNDERKRANKUNGINFO###
                </div>
            </div>
            <div class="row">
                <div class="col">Besondere Komplikationen aufgetreten:</div>
                <div class="col-1">
                    ###B_KOMPLIKATIONEN###
                </div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-3">Komplikationen:</div>
                <div class="col">
                    ###TXT_KOMPLIKATIONENINFO###
                </div>
            </div>            
            <div class="row">
                <div class="col">Schwangerschaft:</div>
                <div class="col-1">
                    ###B_SCHWANGERSCHAFT### 
                </div>
            </div>                                      
        </div>
        <div class="col-6 info_box2">
            <b>Symptome</b> (FS: Über Online Formular abgefragt)<br />
            <i>allgemeine respiratorische Symptome</i><br />
            <div class="row">
                <div class="col">Husten (FS):</div>
                <div class="col-1">
                   ###B_SYMHUSTEN###
                </div>
            </div>
            <div class="row">
                <div class="col">Schnupfen (FS):</div>
                <div class="col-1">
                    ###B_SYMSCHNUPFEN###
                </div>
            </div>
            <div class="row">
                <div class="col">Halsschmerzen (FS):</div>
                <div class="col-1">
                    ###B_SYMHALSSCHMERZEN###
                </div>
            </div>
            <div class="row">
                <div class="col">Pneumonie (Lungenentzündung):</div>
                <div class="col-1">
                    ###B_SYMPNEUMONIE###
                </div>
            </div>
            <i>Krankheitsschwere</i><br />
            <div class="row">
                <div class="col">akutes schweres Atemnotsyndrom (ARDS):</div>
                <div class="col-1">
                    ###B_SYMARDS###
                </div>
            </div>
            <div class="row">
                <div class="col">beatmungspflichtige Atemwegserkrankung:</div>
                <div class="col-1">
                    ###B_SYMBEATMERKRANKUNG###
                </div>
            </div>
            <div class="row">
                <div class="col">Dyspnoe (Atemstörung):</div>
                <div class="col-1">
                    ###B_SYMDYSPNOE###
                </div>
            </div>
            <div class="row">
                <div class="col">Fieber (FS):</div>
                <div class="col-7">
                    ###STR_SYMFIEBERWERT###
                </div>
                <div class="col-1">
                    ###B_SYMFIEBER###
                </div>                
            </div>
            <i>sonstige Symptome</i><br />            
            <div class="row">
                <div class="col">Abgeschlagenheit (FS):</div>
                <div class="col-1">
                    ###B_SYMABGESCHLAGEN###
                </div>
            </div>            
            <div class="row">
                <div class="col">Durchfall (FS):</div>
                <div class="col-1">
                    ###B_SYMDURCHFALL###
                </div>
            </div>
            <div class="row">
                <div class="col">Luftnot (FS):</div>
                <div class="col-1">
                    ###B_SYMLUFTNOT###
                </div>
            </div>
            <div class="row">
                <div class="col">Abnehmender Geruchs-/Geschmackssinn (FS):</div>
                <div class="col-1">
                    ###B_SYMGERUCH###
                </div>
            </div>
            <div class="row">
                <div class="col">Geruchsverlust:</div>
                <div class="col-1">
                    ###B_SYMGERUCHD###
                </div>
            </div>
            <div class="row">
                <div class="col">Geschmacksverlust:</div>
                <div class="col-1">
                    ###B_SYMGESCHMACKD###
                </div>
            </div>
            <div class="row">
                <div class="col">Kopfschmerzen (FS):</div>
                <div class="col-1">
                    ###B_SYMKOPFSCHMERZEN###
                </div>
            </div>
            <div class="row">
                <div class="col">Gliederschmerzen (FS):</div>
                <div class="col-1">
                    ###B_SYMGLIEDERSCHMERZEN###
                </div>
            </div>
            <div class="row">
                <div class="col">Tachykardie (Herzrhythmusstörung mit Anstieg der Herzfrequenz):</div>
                <div class="col-1">
                    ###B_SYMTACHYKARDIE###
                </div>
            </div>  
            <div class="row">
                <div class="col">Tachypnoe (beschleunigte Atmung):</div>
                <div class="col-1">
                    ###B_SYMTACHYPNOE###
                </div>
            </div>  
            <div class="row">
                <div class="col">allgemeine Krankheitszeichen:</div>
                <div class="col-1">
                    ###B_SYMALLGEMEIN###
                </div>
            </div>  
            <div class="row">
                <div class="col-4">Sonstige Symptome (FS):</div>
                <div class="col">
                    ###TXT_SYMINFO###
                </div>
            </div>
        </div>   
        <div class="col-6 info_box2">
            <b>Stationäre Aufnahme</b><br />
            <div class="row">
                <div class="col">Stationär aufgenommen:</div>
                <div class="col-1">
                    ###B_STATIONAER###
                </div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-3">Am</div>
                <div class="col">
                    ###DT_STATIONAERSTART###
                </div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-3">Krankenhaus</div>
                <div class="col">
                    ###STR_STATIONAERKRANKENHAUS###               
                </div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-3">Infos</div>
                <div class="col">
                    ###TXT_STATIONAERINFO###
                </div>
            </div>                       
        </div>
        <div class="col-6 info_box">
            <b>Risikofaktoren</b><br />
            <div class="row">
                <div class="col">Herz-Kreislauf-Erkrankung (inkl. Bluthochdruck):</div>
                <div class="col-1">
                    ###B_RISHERZKREISLAUF###
                </div>
            </div>
            <div class="row">
                <div class="col">Diabetes:</div>
                <div class="col-1">
                    ###B_RISDIABETES###
                </div>
            </div>   
            <div class="row">
                <div class="col">Lebererkrankung:</div>
                <div class="col-1">
                    ###B_RISLEBER###
                </div>
            </div>   
            <div class="row">
                <div class="col">neurologische/neuromuskuläre Erkrankung:</div>
                <div class="col-1">
                    ###B_RISNEURO###
                </div>
            </div>   
            <div class="row">
                <div class="col">Immundefizienz, inkl. HIV:</div>
                <div class="col-1">
                    ###B_RISIMMUN###
                </div>
            </div>  
            <div class="row">
                <div class="col">Nierenerkrankung:</div>
                <div class="col-1">
                    ###B_RISNIERE###
                </div>
            </div>  
            <div class="row">
                <div class="col">Chronische Lungenerkrankung (z.B. COPD):</div>
                <div class="col-1">
                    ###B_RISLUNGE###
                </div>
            </div> 
            <div class="row">
                <div class="col">Krebserkrankung:</div>
                <div class="col-1">
                    ###B_RISKREBS###
                </div>
            </div> 
            <div class="row">
                <div class="col">Schwangerschaft:</div>
                <div class="col-7">
                    ###STR_RISSCHWANGERTRIMESTER###
                </div>
                <div class="col-1">
                    ###B_RISSCHWANGER###
                </div>
            </div> 
            <div class="row">
                <div class="col">Postpartum/ Wochenbett (weniger als 6 Wochen):</div>
                <div class="col-1">
                    ###B_RISPOSTPARTUM###
                </div>
            </div> 
        </div>
    </div>
</div>