<div class="col">
    <div class="row">  
        <div class="col-6 info_box2">
            <b>Angaben als Kontaktperson</b><br />
            <div class="row">
                <div class="col-4">Beobachtungszustand:</div>
                <div class="col">
                    ###STR_KONTAKTPERHBEOB###
                </div>
            </div>
        </div>
        <div class="col-6 info_box">
            <b>Angaben zur Erkrankung</b><br />
            <div class="row">
                <div class="col">Covid-19-Symptome:</div>
                <div class="col-1"> 
                    ###B_SYMVORHANDEN###
                </div>
            </div>
            <div class="row">
                <div class="col-8">Beginn der Symptome:</div>
                <div class="col">
                    ###DT_SYMSTART###
                </div>
            </div>            
            <div class="row">
                <div class="col">Zugehörigkeit zu einer Risikogruppe:</div>
                <div class="col-1">
                    ###B_RISIKOGRUPPE###
                </div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-3">Risikogruppe</div>
                <div class="col">
                    ###STR_RISIKOGRUPPEART###
                </div>
            </div>
            <div class="row">
                <div class="col">Diagnose Viruslungenentzündung und Arbeit in Kontakt mit Covid-19:</div>
                <div class="col-1">
                    ###B_VIRUSL###
                </div>
            </div>                            
        </div>
        <div class="col-6 info_box">
            <b>Allgemeine Angaben zur Gesundheit</b><br />
            <div class="row">
                <div class="col">Grunderkrankung vorhanden:</div>
                <div class="col-1">
                    ###B_GRUNDERKRANKUNG###
                </div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-3">Art der Erkrankung</div>
                <div class="col">
                    ###TXT_GRUNDERKRANKUNGINFO###
                </div>
            </div>
            <div class="row">
                <div class="col">Besondere Komplikationen aufgetreten:</div>
                <div class="col-1">
                    ###B_KOMPLIKATIONEN###
                </div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-3">Komplikationen:</div>
                <div class="col">
                    ###TXT_KOMPLIKATIONENINFO###
                </div>
            </div>            
            <div class="row">
                <div class="col">Schwangerschaft:</div>
                <div class="col-1">
                    ###B_SCHWANGERSCHAFT### 
                </div>
            </div>                                      
        </div>
        <div class="col-6 info_box2">
            <b>Symptome</b><br />
            <div class="row">
                <div class="col">Husten:</div>
                <div class="col-1">
                    ###B_SYMHUSTEN### 
                </div>
            </div>
            <div class="row">
                <div class="col">Schnupfen:</div>
                <div class="col-1">
                    ###B_SYMSCHNUPFEN### 
                </div>
            </div>
            <div class="row">
                <div class="col">Halsschmerzen:</div>
                <div class="col-1">
                    ###B_SYMHALSSCHMERZEN###
                </div>
            </div>
            <div class="row">
                <div class="col">Abgeschlagenheit:</div>
                <div class="col-1">
                    ###B_SYMABGESCHLAGEN###
                </div>
            </div>
            <div class="row">
                <div class="col">Fieber:</div>
                <div class="col-7">
                   ###STR_SYMFIEBERWERT###
                </div>
                <div class="col-1">
                    ###B_SYMFIEBER###
                </div>                
            </div>
            <div class="row">
                <div class="col">Durchfall:</div>
                <div class="col-1">
                    ###B_SYMDURCHFALL###
                </div>
            </div>
            <div class="row">
                <div class="col">Luftnot:</div>
                <div class="col-1">
                    ###B_SYMLUFTNOT###
                </div>
            </div>
            <div class="row">
                <div class="col">Abnehmender Geruchs-/Geschmackssinn:</div>
                <div class="col-1">
                    ###B_SYMGERUCH###
                </div>
            </div>
            <div class="row">
                <div class="col">Kopfschmerzen:</div>
                <div class="col-1">
                    ###B_SYMKOPFSCHMERZEN###
                </div>
            </div>
            <div class="row">
                <div class="col">Gliederschmerzen:</div>
                <div class="col-1">
                    ###B_SYMGLIEDERSCHMERZEN###
                </div>
            </div>
            <div class="row">
                <div class="col-4">Altdaten:</div>
                <div class="col">
                    ###TXT_SYMINFO###
                </div>
            </div>
        </div>   
        <div class="col-6 info_box2">
            <b>Stationäre Aufnahme</b><br />
            <div class="row">
                <div class="col">Stationär aufgenommen:</div>
                <div class="col-1">
                    ###B_STATIONAER###
                </div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-3">Am</div>
                <div class="col">
                    ###DT_STATIONAERSTART###
                </div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-3">Krankenhaus</div>
                <div class="col">
                    ###STR_STATIONAERKRANKENHAUS###               
                </div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-3">Infos</div>
                <div class="col">
                    ###TXT_STATIONAERINFO###
                </div>
            </div>                       
        </div>
    </div>
</div>