<div class="row">
    <div class="col">
        <b>neue Notiz erfassen</b>
        <input type="hidden" name="notizen[new][FKLID]" value="###LID###" />
        <input type="hidden" name="notizen[new][STR_DURCH]" value="###ACT_USER###" />
        <input type="hidden" name="notizen[new][L_DURCH]" value="###ACT_USER_ID###" />
        <div class="row">
            <div class="col-1">Datum:</div>
            <div class="col-2" id="new_note_actdate">
                ###ACT_DATUM###
            </div>                                                            
            <div class="col-1">Verfasser:</div>
            <div class="col-2" id="new_note_verfasser">                
                ###ACT_USER###
            </div>                                
        </div>
        <div class="row">
            <div class="col">
                <textarea class="form-control" id="new_note" name="notizen[new][TXT_NOTIZ]" rows="3"></textarea>
            </div>                                
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col" id="old_notes">
        ###OLDNOTES###
    </div>
</div>