<!doctype html>
<html lang="de">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/print/front_page.css">

    <title>###page_title###</title>
  </head>
  <body>    
      <page size="A4">
          <br />
          <br />
          <h1 class="text-center">CovDi Fall Nr. ###LID###</h1>
          <div class="text-center">
            erfasst durch: ###STR_BERATERNAME###<br />
            erfasst am: ###DT_BERATUNGDATUM###<br />
          </div>
          <br />
          <div class="text-center">
              <h3>Betroffene Person</h3>
              <div>
                  ###STR_BVORNAME### ###STR_BNACHNAME###<br />
                  Geburtsdatum: ###DT_BGEBURTSDATUM###<br />
                  Geschlecht: ###STR_BGESCHLECHT###<br />
                  <br />
                  <h4>Meldeadresse</h4>
                  ###STR_BSTRASSE### ###STR_BHAUSNUMMER###<br />
                  ###STR_BPLZ### ###STR_BORT###<br /><br />
                  <h5>evtl. abweichender Aufenthaltsort</h5>
                  ###STR_BASTRASSE### ###STR_BAHAUSNUMMER###<br />
                  ###STR_BAPLZ### ###STR_BAORT###<br />
              </div>
          </div>
      </page>
  </body>
</html>
