<div class="col-6 info_box" id="a###counter###_box">
    <b>Abstrich ###counter###</b><br />
    <div class="row">
        <div class="col-6">Anweisung erfolgt am:</div>
        <div class="col">
            ###DT_VERARBEITETAM###
        </div>                                                            
    </div>
    <div class="row">
        <div class="col-6">Veranlasst durch:</div>
        <div class="col">
            ###STR_VERANLASSTDURCH###
        </div>                                
    </div>
    <div class="row">
        <div class="col-6">Muss mobil erfolgen:</div>
        <div class="col">
            ###B_MOBIL###
        </div>                                
    </div>
    <div class="row">
        <div class="col-6">Dringend:</div>
        <div class="col">
            ###B_DRINGEND###
        </div>                                
    </div>
    <div class="row">
        <div class="col-6">Zeitpunkt:</div>
        <div class="col">
            ###DT_ZEITPUNKT###
        </div>                                
    </div>
    <div class="row">
        <div class="col-6">Abstrich Typ:</div>
        <div class="col">
            ###STR_TYP_TEXT###
        </div>                                
    </div>
    <div class="row">
        <div class="col-6">Bemerkungen:</div>
        <div class="col">
            ###TXT_NOTIZ###
        </div>                                
    </div>
    <div class="row">
        <div class="col-6">Abrechnungsgrundlage:</div>
        <div class="col">
            ###STR_GRUNDLAGE###
        </div>                                
    </div>
    <div class="row">
        <div class="col">Erfolgt durch Diagnostikzentrum:</div>
        <div class="col-1">
            ###B_DIAGNOSTIKZENTRUM###
        </div>                                
    </div>
    <div class="row">
        <div class="col-6">Ergebnis:</div>
        <div class="col">
            ###STR_RUECK###
        </div>                               
    </div>
    <div class="row">
        <div class="col-6">Ergebnis am:</div>
        <div class="col">
            ###DT_RUECKAM###
        </div>                                                             
    </div>
    <div class="row">
        <div class="col-12">Information des Betroffenen</div>
        <div class="col-7">erfolgt:</div>
        <div class="col-1">
            ###B_BINFORMIERT###
        </div>
        <div class="col-4"></div>
        <div class="col-6">am:</div>
        <div class="col-3">
            ###DT_BINFORMIERT###
        </div>
        <div class="col-3"></div>
        <div class="col-6">durch:</div>
        <div class="col-3">
            ###STR_BINFORMIERTDURCH###
        </div>           
        <div class="col-3"></div>
    </div>
</div>