<div class="col-6 info_box" id="bt###counter###_box">
    <b>Antikörpertest ###counter###</b><br />
    <div class="row">
        <div class="col-6">Veranlasst durch:</div>
        <div class="col">
            ###STR_VERANLASSTDURCH###
        </div>                                
    </div>
    <div class="row">
        <div class="col-6">Ergebnis am:</div>
        <div class="col">
            ###DT_RUECKAM###
        </div>                                                             
    </div>
    <div class="row">
        <div class="col-6">Ergebnis:</div>
        <div class="col-2">IgA: <br />###B_IGA###</div>
        <div class="col-2">IgG: <br />###B_IGG###</div>
        <div class="col-2">IgM: <br />###B_IGM###</div>
    </div>    
    <div class="row">
        <div class="col-12">Information des Betroffenen</div>
        <div class="col-11">erfolgt:</div>
        <div class="col-1">
            ###B_BINFORMIERT###
        </div>
        <div class="col-8">am:</div>
        <div class="col-4">
            ###DT_BINFORMIERTAM###
        </div>
        <div class="col-8">durch:</div>
        <div class="col-4">
            ###STR_BINFORMIERTDURCH###
        </div>                                                        
    </div>
</div>