<div class="col-6 info_box" id="kontakt###LID###_box">
    <div class="row">
        <div class="col-7">
            <b>Kontaktperson ###counter###</b><br />         
            <input type="hidden" name="kontakte[###LID###][LID]" value="###LID###" />
            <input type="hidden" name="kontakte[###LID###][FKLID]" value="###FKLID###" />
        </div>
        <div class="col">
            ###ADMMS###
        </div>
    </div>   
    <div class="row">
        <div class="col-6">Nachname:</div>
        <div class="col">
            ###STR_BNACHNAME###
        </div>                                
    </div>
    <div class="row">
        <div class="col-6">Vorname:</div>
        <div class="col">
            ###STR_BVORNAME###
        </div>                                                             
    </div>
    <div class="row">
        <div class="col-6">Geburtsdatum:</div>
        <div class="col">
            ###DT_BGEBURTSDATUM###
        </div>                                
    </div>
    <div class="row">
        <div class="col-6">Adresse:</div>
        <div class="col">
            ###STR_BSTRASSE### ###STR_BHAUSNUMMER###<br />
            ###STR_BPLZ### ###STR_BORT###
        </div>                                                             
    </div>
    <div class="row">
        <div class="col-6">Telefon:</div>
        <div class="col">
            ###STR_BTELEFON###
        </div>                                                             
    </div>
    <div class="row">
        <div class="col-6">Email:</div>
        <div class="col">
            ###STR_BEMAIL###
        </div>                                                             
    </div>
    <div class="row">
        <div class="col-6">Notizen:</div>
        <div class="col">
            <textarea class="form-control" name="kontakte[###LID###][TXT_NOTIZ]" rows="3">###TXT_NOTIZ###</textarea>   
        </div>                                                             
    </div>    
    <div class="row">
        <div class="col-6">Fall-Nr:</div>
        <div class="col">
            ###L_FALLNR### ###FALL_LINK###
        </div>                                                             
    </div>
</div>