<div class="col-6 info_box2" id="q###counter###_box">
    <b>Quarantäne ###counter###</b><br />
    <input type="hidden" name="quarantaenen[###LID###][LID]" value="###LID###" />
    <input type="hidden" name="quarantaenen[###LID###][FKLID]" value="###FKLID###" />
    <div class="row">
        <div class="col-6">Typ:</div>
        <div class="col">
            ###STR_TYP###
        </div>
    </div>
    <div class="row">
        <div class="col-6">Mündl. angeordnet am:</div>
        <div class="col">
            ###DT_ANGEORDNETAM###
        </div>
    </div>
    <div class="row">
        <div class="col-6">Angeordnet bis einschließlich:</div>
        <div class="col">
            ###DT_ANGEORDNETBIS###
        </div>
    </div>
    <div class="row">
        <div class="col-6">Angeordnet durch:</div>
        <div class="col">
            ###STR_VERANLASSTDURCH###
        </div>
    </div>    
    <div class="row">
        <div class="col-6">E-Mail für OV am:</div>
        <div class="col">
            ###DT_VERARBEITETAM###
        </div>                                                            
    </div>
    ###OV_INFOS###
    <div class="row">
        <div class="col-4">Anmerkungen:</div>
        <div class="col">
            ###TXT_NOTIZEN###
        </div>
    </div>    
</div>    