        <div class="col-6 info_box">
            <b>Survnet</b><br />
            <div class="row">
                <div class="col">wurde eingetragen:</div>
                <div class="col-1">
                    <input class="form-check-input" type="checkbox" id="B_SURVNETEINGABE" name="B_SURVNETEINGABE" data-preval="###B_SURVNETEINGABE###" ###B_SURVNETEINGABE_checked### readonly="readonly"/> 
                </div>
            </div>
            <div class="row">
                <div class="col-8">letzer Eintrag am:</div>
                <div class="col">
                    <input type="text" class="form-control datepicker" id="DT_SURVNETEINGABE" name="DT_SURVNETEINGABE" value="###DT_SURVNETEINGABE###" readonly="readonly"/>
                </div>
            </div>
            <div class="row">
                <div class="col-8">letzter Eintrag durch:</div>
                <div class="col">                    
                    <input type="text" class="form-control" ID="STR_SURVNETEINGABE" name="STR_SURVNETEINGABE" value="###STR_SURVNETEINGABE###" readonly="readonly"/>
                </div>
            </div>
            <div class="row">                
                <div class="col-5">                    
                    <button class="btn btn-secondary" type="button" onclick="survnet_eintrag()">wurde übertragen</button>
                </div>
                <div class="col"></div>
            </div>
        </div> 