        <div class="col-6 info_box">
            <b>Survnet</b><br />
            <div class="row">
                <div class="col">wurde eingetragen:</div>
                <div class="col-1">
                    ###B_SURVNETEINGABE###
                </div>
            </div>
            <div class="row">
                <div class="col-8">letzer Eintrag am:</div>
                <div class="col">
                    ###DT_SURVNETEINGABE###
                </div>
            </div>
            <div class="row">
                <div class="col-8">letzter Eintrag durch:</div>
                <div class="col">                    
                    ###STR_SURVNETEINGABE###
                </div>
            </div>
            <div class="row">               
                <div class="col"> 
                </div>
            </div>
        </div> 