<div class="col-6 info_box2" id="t###counter###_box">
    <b>Tätigkeitsverbot ###counter###</b><br />
    <div class="row">
        <div class="col-6">mündl. angeordnet am:</div>
        <div class="col">
            ###DT_ANGEORDNETAM###
        </div>
    </div>
    <div class="row">
        <div class="col-6">angeordnet bis einschließlich:</div>
        <div class="col">
            ###DT_ANGEORDNETBIS###
        </div>
    </div>
    <div class="row">
        <div class="col-6">Angeordnet durch:</div>
        <div class="col">
            ###STR_VERANLASSTDURCH###
        </div>
    </div>    
    <div class="row">
        <div class="col-6">OV Anforderung erfolgte am:</div>
        <div class="col">
            ###DT_VERARBEITET###
        </div>                                                            
    </div>
    <div class="row">
        <div class="col-4">Anmerkungen:</div>
        <div class="col">
            ###TXT_NOTIZEN###
        </div>
    </div>
</div>    