<tr data-id="###LID###">
    <td class="clickable" style="font-weight: bold">###LID###</td>
    <td class="clickable">###STR_QUARANTAENETYP###</td>
    <td class="clickable">###STR_BNACHNAME###</td>
    <td class="clickable">###STR_BVORNAME###</td>
    <td class="clickable">###STR_BTELEFON###</td>
    <td class="clickable">###STR_BEMAIL###</td>
    <td>###DT_QUARANTAENEVON###</td>
    <td>###DT_QUARANTAENEBIS###</td>
    <td>###STR_QUARANTAENEADURCH###</td>
    <td><input class="form-check-input" type="checkbox" name="qfreigaben[###LID###][freigabe]" ###B_QFREIGABE_checked###/>
        <input type="hidden" name="qfreigaben[###LID###][lid]" value="###LID###" /></td>
</tr>