<div class="row">
    <div class="col">
        <h4>Freigeben von Quarantänen</h4>
    </div>
</div>
<hr />
<form method="get" id="freigabe_form">
    <input type="hidden" name="user_id" value="###UID###" />
    <input type="hidden" name="user_string" value="###USER###" />
    <div class="row">
        <div class="col">
            <table class="table table-hover table-sm">
              <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Typ</th>
                    <th scope="col">Nachname</th>
                    <th scope="col">Vorname</th>
                    <th scope="col">Telefon</th>
                    <th scope="col">Email</th>
                    <th scope="col">ab</th>
                    <th scope="col">bis einschl.</th>
                    <th scope="col">durch</th>
                    <th scope="col"></th>
                </tr>
              </thead>
              <tbody>            
                  ###ROWS###
              </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col-1">
            <button type="submit" class="btn btn-secondary">Freigeben</button>
        </div>
    </div>
</form>