<tr data-id="###LID###">
    <td class="clickable" style="font-weight: bold">###LID###</td>
    <td class="clickable">###STR_BNACHNAME###</td>
    <td class="clickable">###STR_BVORNAME###</td>
    <td class="clickable">###STR_BTELEFON###</td>
    <td class="clickable">###STR_BEMAIL###</td>
    <td>###DT_TATVERBOTVON###</td>
    <td>###DT_TATVERBOTBIS###</td>
    <td>###STR_TATVERBOTDURCH###</td>
    <td><input class="form-check-input" type="checkbox" name="tfreigaben[###LID###][freigabe]" ###B_TFREIGABE_checked###/>
        <input type="hidden" name="tfreigaben[###LID###][lid]" value="###LID###" /></td>
</tr>