<div class="row">
    <div class="col-1">
        <button type="button" class="btn btn-secondary" onclick="prevWeek(###WEEK###,###YEAR###)">&lt;&lt;</button>
    </div>
    <div class="col">
        <h3>Einsatzplanung KW ###WEEK### ###YEAR###</h3>
    </div>
    ###FREIGABE_BUTTON###
    <div class="col-1">
        <button type="button" class="btn btn-secondary" onclick="nextWeek(###WEEK###,###YEAR###)">&gt;&gt;</button>
    </div>
</div>
<div class="row">
    <div class="col">
        ###DAYS###
    </div>
</div>