<div class="col">
    <nav class="navbar navbar-expand-lg  navbar-light">
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link ###MAIN###" href="?type=main">Start</a></li>
                <li class="nav-item"><a class="nav-link ###ALL###" href="?type=all">Alle Meldungen</a></li>
                <li class="nav-item"><a class="nav-link ###NEW###" href="?type=new">Neue Meldungen</a></li>
                <li class="nav-item"><a class="nav-link ###QEND###" href="?type=qend">Endende Quarantänen</a></li>
                <li class="nav-item"><a class="nav-link ###ANOR###" href="?type=anor">Abstriche ohne Ergebnis</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Weiteres
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        ###NAV_ADD_AUSWERTUNGEN###
                        ###NAV_ADD_USER###
                        ###NAV_ADD_SURVNET###
                        ###NAV_ADD_QFREIGABE###
                        ###NAV_ADD_TFREIGABE###
                        ###NAV_ADD_NEWM###
                    </div>
                </li>                
            </ul>
        </div>
    </nav>    
</div>
<div class="col2" id="login_col">
    ###LOGIN###
</div>