<div class="row">
    <div class="col">
        <form method="get">
            <input type="hidden" name="type" value="new" />
            <div class="form-row">                
                <div class="input-group col-md-6">
                    <input type="text" name="search" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" width="10" value="###search###">
                    <div class="input-group-append">
                      <button type="submit" class="btn btn-secondary">Suchen</button>
                    </div>
                </div>                
            </div>            
        </form>
    </div>
    <div class="col-3">
        <div class="input-group mb-3 page_jump">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">Direktaufruf Einzelfall: </span>
            </div>
            <input type="text" id="goToCase" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" width="10">
            <div class="input-group-append">
              <button type="button" class="btn btn-secondary" onclick="jumpToCase()">Absenden</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    ###table###
</div>