<div class="row">
    <div class="col">
        <p>Herzlich Willkommen auf den Seiten der Covid-19-Meldungen bei der Bundesstadt Bonn.</p>
        <div>
            Bitte melden Sie sich mit Ihrer PIN an. Falls Sie noch keine PIN erhalten haben, wenden Sie sich bitte an <a href="mailto:covdi@bonn.de">covdi@bonn.de</a> . <br />
            <br />
            Nach der Anmeldung mit Ihrer PIN können Sie entweder „Alle Meldungen“ oder alle noch nicht bearbeiteten Meldungen unter „Neue Meldungen“ einsehen. <br />
        </div>
    </div>
</div>
<hr />
      <br />      
<hr />
<div class="row">
    <div class="col-6">
        Wenn Sie bereits eine PIN erhalten, aber diese vergessen haben, können Sie die PIN erneut abrufen. Bitte tragen Sie hierfür die E-Mail-Adresse ein, die mit dieser PIN registriert wurde.
    </div>
    <div class="col-6">
        <div class="input-group get_pin">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">Email-Adresse:</span>
            </div>
            <input type="text" id="getPin" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
            <div class="input-group-append">
              <button type="button" class="btn btn-secondary" onclick="getPin()">Anfordern</button>
            </div>
        </div>
    </div>
</div>
<hr />