<h4>Einsatzplan</h4>
<div class="row">
    <div class="col">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="act-tab" data-toggle="tab" href="#act" role="tab" aria-controls="aktuelle Woche" aria-selected="true">Wochenübersicht</a>
          </li>
          <!--<li class="nav-item">
            <a class="nav-link" id="next-tab" data-toggle="tab" href="#next" role="tab" aria-controls="nächste Woche" aria-selected="false">KW ###NEXTWEEK###</a>
          </li> -->
          <li>
            <a target="_blank" class="nav-link" href="https://formulare.bonn.de:443/metaform/Form-Solutions/sid/assistant/5f6857a917572835617a2099" role="tab" aria-controls="Planungs-Formular" aria-selected="false">Planungs-Formular</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="act" role="tabpanel" aria-labelledby="act-tab">
                ###act_tab###
            </div>
            <!--<div class="tab-pane fade" id="next" role="tabpanel" aria-labelledby="next-tab">
                ###next_tab###
            </div>-->
        </div>
    </div>
</div>