<div class="card week-day-card weekday-###WEEKDAY### ###ACT_MONTH###" style="width: 14%;" data-timestamp="###TIMESTAMP###">
  <div class="card-body">
    <h5 class="card-title">###DATESTRING###</h5>
    <h6>Frühschicht</h6>
    <div class="week-daycheck" data-needed="###FS_TEAMLEITUNG_BEDARF###" data-given="0">
        <span class="info">Teamleitung</span><br />
        <ul class="list-group list-group-flush elgroup">
            ###FS_TEAMLEITUNG_WITEMS###            
        </ul>
    </div>
    <div class="week-daycheck" data-needed="###FS_ARZT_BEDARF###" data-given="0">
        <span class="info">Ärzte</span><br />
        <ul class="list-group list-group-flush elgroup">
            ###FS_ARZT_WITEMS###            
        </ul>
    </div>
    <div class="week-daycheck" data-needed="###FS_MITARBEITER_BEDARF###" data-given="0">
        <span class="info">Mitarbeiter</span><br />
        <ul class="list-group list-group-flush elgroup">
            ###FS_MITARBEITER_WITEMS###
        </ul>
    </div>   
    <hr />
    <h6>Spätschicht</h6>
    <div class="week-daycheck" data-needed="###SS_TEAMLEITUNG_BEDARF###" data-given="0">
        <span class="info">Teamleitung</span><br />
        <ul class="list-group list-group-flush elgroup">
            ###SS_TEAMLEITUNG_WITEMS###        
        </ul>
    </div>
    <div class="week-daycheck" data-needed="###SS_ARZT_BEDARF###" data-given="0">
        <span class="info">Ärzte</span><br />
        <ul class="list-group list-group-flush elgroup">
            ###SS_ARZT_WITEMS###
        </ul>
    </div>
    <div class="week-daycheck" data-needed="###SS_MITARBEITER_BEDARF###" data-given="0">
        <span class="info">Mitarbeiter</span><br />
        <ul class="list-group list-group-flush elgroup">
            ###SS_MITARBEITER_WITEMS###            
        </ul>
    </div>
  </div>
</div>