<div class="card week-day-card weekday-###WEEKDAY### ###ACT_MONTH###" style="width: 14%;" data-timestamp="###TIMESTAMP###">
  <div class="card-body">
    <h5 class="card-title">###DATESTRING###</h5>
    <h6>Wochenendschicht</h6>
    <div class="week-daycheck" data-needed="###WS_TEAMLEITUNG_BEDARF###" data-given="0">
        <span class="info">Teamleitung</span><br />
        <ul class="list-group list-group-flush elgroup">
            ###WS_TEAMLEITUNG_WITEMS###            
        </ul>
    </div>
    <div class="week-daycheck" data-needed="###WS_ARZT_BEDARF###" data-given="0">
        <span class="info">Ärzte</span><br />
        <ul class="list-group list-group-flush elgroup">
            ###WS_ARZT_WITEMS###            
        </ul>
    </div>
    <div class="week-daycheck" data-needed="###WS_MITARBEITER_BEDARF###" data-given="0">
        <span class="info">Mitarbeiter</span><br />
        <ul class="list-group list-group-flush elgroup">
            ###WS_MITARBEITER_WITEMS###
        </ul>
    </div>
  </div>
</div>