<h4>Auswertungen</h4>
<div class="row">
    <div class="col">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="base-tab" data-toggle="tab" href="#base" role="tab" aria-controls="Basis" aria-selected="true">Basis</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="graph-tab" data-toggle="tab" href="#graph" role="tab" aria-controls="Graphs" aria-selected="false">Graphen</a>
          </li>          
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="base" role="tabpanel" aria-labelledby="base-tab">
                ###base_tab###
            </div>
            <div class="tab-pane fade" id="graph" role="tabpanel" aria-labelledby="graph-tab">
                ###graph_tab###
            </div>              
        </div>
    </div>
</div>